<div class="create-parc-modal">
    <mat-dialog-content>
        <form [formGroup]=dataForm class="create-parc-modal__form">

            <h2>Ajout d'un parc</h2>
            <div class="create-parc-modal__field">
                <mat-form-field>
                    <label>Nom</label>
                    <input formControlName="name" name="name" matInput>
                </mat-form-field>
            </div>

            <div class="create-parc-modal__field">
                <mat-form-field>
                    <label>Ville</label>
                    <input formControlName="city" name="city" matInput>
                </mat-form-field>
            </div>

            <div class="create-parc-modal__field">
                <mat-form-field>
                    <label>Longitude</label>
                    <input formControlName="longitude" name="longitude" matInput>
                </mat-form-field>
            </div>

            <div class="create-parc-modal__field">
                <mat-form-field>
                    <label>Latitude</label>
                    <input formControlName="latitude" name="latitude" matInput>
                </mat-form-field>
            </div>

        </form>

        <div class="create-parc-modal__actions">
            <button mat-stroked-button class="cta cta__confirm" [mat-dialog-close]="dataForm.value" cdkFocusInitial
                [disabled]="!dataForm.valid">Confirm</button>
            <button mat-stroked-button class="cta cta__cancel" (click)="closeDialog()">Cancel</button>
        </div>
    </mat-dialog-content>

</div>