.admin-users {
    margin-top: 2em;

    &__field {
        width: 120px;
    }

    &__add-user {
        margin-top: 1em;
    }
}

table {
    width: 100%;
}

td.mat-cell,
th.mat-header-cell {
    text-align: center !important;
}
