<div class="admin-users">
    <span *ngIf="!dataSource.data.length">Aucun utiliséteur n'a été trouvé.</span>
    <form [formGroup]=dataForm *ngIf="dataSource.data.length">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.inEdit">{{element.firstName}} </span>
                    <mat-form-field *ngIf="element.inEdit" class="admin-users__field">
                        <input formControlName="firstName" name="firstName" matInput>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.inEdit">{{element.lastName}} </span>
                    <mat-form-field *ngIf="element.inEdit" class="admin-users__field">
                        <input formControlName="lastName" name="lastName" matInput>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.inEdit">{{element.email}} </span>
                    <mat-form-field *ngIf="element.inEdit" class="admin-users__field">
                        <input formControlName="email" name="email" matInput>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.inEdit">{{element.role | firstLetterCaps}} </span>
                    
                    <mat-select formControlName="role" *ngIf="element.inEdit" class="admin-users__field">
                        <mat-option *ngFor="let role of ROLES_DATA" [value]="role">
                            {{role}}
                        </mat-option>
                    </mat-select>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <div class="admin-users__rowNotInEdit" *ngIf="!element.inEdit">
                        <button mat-button (click)="startEdit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button click="toggleElementInEdit" (click)="deleteUser(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                    <div class="admin-users__rowInEdit" *ngIf="element.inEdit">
                        <button mat-button (click)="validEdit(element)">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-button (click)="cancelEdit(element)">
                            <mat-icon>undo</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </form>
    <div class="admin-users_cta">
        <button mat-button class="admin-users__add-user" (click)="openModal()">+ Ajouter un user</button>
    </div>
</div>