<div class="admin-parcs">
    <span *ngIf="!dataSource.data.length">Aucun parc n'a été trouvé.</span>
    <form [formGroup]=dataForm *ngIf="dataSource.data.length">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.inEdit">{{element.name}} </span>
                    <mat-form-field *ngIf="element.inEdit" class="admin-parcs__field">
                        <input formControlName="name" name="name" matInput>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="longitude">
                <th mat-header-cell *matHeaderCellDef>Longitude</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.inEdit">{{element.longitude}}</span>
                    <mat-form-field *ngIf="element.inEdit" class="admin-parcs__field">
                        <input formControlName="longitude" name="longitude" matInput>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="latitude">
                <th mat-header-cell *matHeaderCellDef>Latitude</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.inEdit">{{element.latitude}}</span>
                    <mat-form-field *ngIf="element.inEdit" class="admin-parcs__field">
                        <input formControlName="latitude" name="latitude" matInput>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> Ville </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.inEdit">{{element.city}} </span>
                    <mat-form-field *ngIf="element.inEdit" class="admin-parcs__field">
                        <input formControlName="city" name="city" matInput>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <div class="admin-parcs__rowNotInEdit" *ngIf="!element.inEdit">
                        <button mat-button (click)="startEdit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button click="toggleElementInEdit" (click)="deleteParc(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                    <div class="admin-parcs__rowInEdit" *ngIf="element.inEdit">
                        <button mat-button (click)="validEdit(element)">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-button (click)="cancelEdit(element)">
                            <mat-icon>undo</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </form>

    <div class="admin-parcs_cta"></div>
    <button mat-button class="admin-parcs__add-parc" (click)="openModal()">+ Ajouter un parc</button>
</div>