<div class="user-page">
    <div class="user-page__row-map">
        <div class="user-page__map">
            <bike-app-map></bike-app-map>
        </div>

        <h2 *ngIf="!currentStation.id">Veuillez choisir une station.</h2>
        <div class="user-page__station-infos" *ngIf="currentStation.id">
            <h2>Station {{currentStation.name}}</h2>
            <button mat-button (click)="track()">Partager ma position</button>
        </div>

    </div>
</div>