.user-page {
    &__map {
        width: 70%;
    }

    /*&__submit {
        background-color: #c2185b;
        margin-bottom: 1em;
    }*/

    &__station-infos{
        margin-top: 2em;
    }

    &__row-map {
        display: flex;
    }
}