<div class="home">
    <h2>Bienvenur sur Bike App!</h2>
    <h3>Vous devez être connecté pour utiliser cette application.</h3>
    <button mat-button (click)="goToLogin()" class="home__login">Login</button>
</div>
