<mat-tab-group (selectedIndexChange)="selectTab($event)">
    <mat-tab label="Stations">
        <bike-app-manager-stations *ngIf="selectedTab === 0"></bike-app-manager-stations>
    </mat-tab>
    <mat-tab label="Vélos">
        <bike-app-manager-velos *ngIf="selectedTab === 1"></bike-app-manager-velos>
    </mat-tab>
</mat-tab-group>