<div class="create-user-modal">
    <mat-dialog-content>
        <form [formGroup]=dataForm class="create-user-modal__form">

            <h2>Ajout d'un utilisateur</h2>
            <div class="create-user-modal__field">
                <mat-form-field>
                    <label>Prénom</label>
                    <input formControlName="firstName" name="firstName" matInput>
                </mat-form-field>
            </div>

            <div class="create-user-modal__field">
                <mat-form-field>
                    <label>Nom</label>
                    <input formControlName="lastName" name="lastName" matInput>
                </mat-form-field>
            </div>

            <div class="create-user-modal__field">
                <mat-form-field>
                    <label>Email</label>
                    <input formControlName="email" name="email" matInput>
                </mat-form-field>
            </div>

            <div class="create-user-modal__field">
                <mat-form-field>
                    <label>Password</label>
                    <input formControlName="password" name="password" matInput>
                </mat-form-field>
            </div>

            <div class="create-user-modal__field">
                <mat-form-field>
                    <label>Rôle</label>
                    <mat-select formControlName="role">
                        <mat-option *ngFor="let role of roleValues" [value]="role">
                            {{role | firstLetterCaps}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </form>

        <div class="create-user-modal__actions">
            <button mat-stroked-button class="cta cta__confirm" [mat-dialog-close]="dataForm.value" cdkFocusInitial
                [disabled]="!dataForm.valid">Confirm</button>
            <button mat-stroked-button class="cta cta__cancel" (click)="closeDialog()">Cancel</button>
        </div>
    </mat-dialog-content>

</div>
