<div class="create-bike-modal">
    <mat-dialog-content>
        <form [formGroup]=dataForm class="create-bike-modal__form">

            <h2>Ajout d'un bike</h2>

            <div class="create-bike-modal__field">
                <mat-form-field>
                    <label>Longitude</label>
                    <input formControlName="longitude" name="longitude" matInput type="number">
                </mat-form-field>
            </div>

            <div class="create-bike-modal__field">
                <mat-form-field>
                    <label>Latitude</label>
                    <input formControlName="latitude" name="latitude" matInput type="number">
                </mat-form-field>
            </div>

        </form>

        <div class="create-bike-modal__actions">
            <button mat-stroked-button class="cta cta__confirm" [mat-dialog-close]="dataForm.value" cdkFocusInitial
                [disabled]="!dataForm.valid">Confirm</button>
            <button mat-stroked-button class="cta cta__cancel" (click)="closeDialog()">Cancel</button>
        </div>
    </mat-dialog-content>

</div>