<mat-tab-group (selectedIndexChange)="selectTab($event)">
    <mat-tab label="Users">
        <bike-app-admin-users *ngIf="selectedTab === 0"></bike-app-admin-users>
    </mat-tab>
    <mat-tab label="Parcs">
        <bike-app-admin-parcs *ngIf="selectedTab === 1"></bike-app-admin-parcs>
    </mat-tab>
  </mat-tab-group>