<div class="connexion">
    <mat-card class="connexion__card">
        <h2>Login</h2>

        <form [formGroup]=dataForm (ngSubmit)="connection()">

            <div>
                <mat-form-field class="connection__field">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" name="email" matInput>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="connection__field">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" name="password" matInput type="password">
                </mat-form-field>
            </div>

            <button mat-button type="submit" class="connexion__submit">Login</button>

        </form>
    </mat-card>
</div>