.connexion {
    position: absolute;
    top:  35%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__card {
        max-width: 400px;
        text-align: center;
        margin-top: 25%;
    }

    &__submit {
        background-color: #c2185b;
        margin-top: 1em;
    }
}
