.manager-velos {
    margin-top: 2em;

    &__field {
        width: 120px;
    }

    &__add-bike{
        margin-top: 1em;
    }
}

table {
    width: 900px;
}

td.mat-cell,
th.mat-header-cell {
    text-align: center !important;
}
