table {
    width: 100%;
}

td.mat-cell,
th.mat-header-cell {
    text-align: center !important;
}

.manager-stations {
    &__map {
        width: 70%;
    }

    &__submit {
        background-color: #c2185b;
        margin-bottom: 1em;
    }

    &__form{
        margin-top: 2em;
    }

    &__row-map {
        display: flex;
    }
}
