<div class="manager-stations">
    <div class="manager-stations__row-map">
        <div class="manager-stations__map">
            <bike-app-map></bike-app-map>
        </div>

        <div class="manager-stations__form">
            <form [formGroup]=dataForm class="create-bike-modal__form" *ngIf="currentState !== STATE.WAIT">

                <h3>Créer une station</h3>

                <div class="create-bike-modal__field">
                    <mat-form-field>
                        <label>Name</label>
                        <input formControlName="name" name="name" matInput>
                    </mat-form-field>
                </div>

                <div class="create-bike-modal__field">
                    <mat-form-field>
                        <label>Adresse</label>
                        <input formControlName="adresse" name="adresse" matInput>
                    </mat-form-field>
                </div>

                <div class="create-bike-modal__field">
                    <mat-form-field>
                        <label>Longitude</label>
                        <input formControlName="longitude" name="longitude" matInput type="number">
                    </mat-form-field>
                </div>

                <div class="create-bike-modal__field">
                    <mat-form-field>
                        <label>Latitude</label>
                        <input formControlName="latitude" name="latitude" matInput type="number">
                    </mat-form-field>
                </div>

                <div class="create-bike-modal__field">
                    <mat-form-field>
                        <label>Max Places</label>
                        <input formControlName="max_places" name="max_places" matInput type="number">
                    </mat-form-field>
                </div>

                <div class="create-bike-modal__field">
                    <mat-form-field appearance="fill">
                        <mat-label>Parc</mat-label>
                        <mat-select formControlName="parcId" required>
                            <mat-option *ngFor="let parc of parcs$ | async" [value]="parc.id">
                                {{parc.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <button mat-button class="manager-stations__submit" [disabled]="!dataForm.valid"
                    *ngIf="currentState === STATE.CREATE" (click)="createStation()">Créer la
                    station</button>
                <button mat-button class="manager-stations__cancel" *ngIf="currentState === STATE.CREATE"
                    (click)="stopCreateStation()">Annuler</button>


                <button mat-button class="manager-stations__submit" [disabled]="!dataForm.valid"
                    *ngIf="currentState === STATE.EDIT" (click)="startEditStation()">Editer la station</button>
                <button mat-button class="manager-stations__cancel" *ngIf="currentState === STATE.EDIT"
                    (click)="stopEditStation()">Annuler</button>

                <button mat-button class="manager-stations__delete" *ngIf="currentState === STATE.EDIT"
                    (click)="deleteStation()">Supprimer la station</button>
            </form>
            <button mat-button class="manager-stations__submit" *ngIf="currentState !== STATE.CREATE"
                (click)="startCreateStation()">Créer une station</button>
        </div>
    </div>

    <div class="row-table"></div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element">
                {{element?.bikeId}}
            </td>
        </ng-container>

        <ng-container matColumnDef="gps">
            <th mat-header-cell *matHeaderCellDef> Coor. GPS </th>
            <td mat-cell *matCellDef="let element">
                {{element?.longitude}} ; {{element?.latitude}}
            </td>
        </ng-container>

        <ng-container matColumnDef="follow">
            <th mat-header-cell *matHeaderCellDef> Suivre </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button *ngIf="!element?.follow" (click)="followOnMap(element)">
                    <mat-icon>gps_fixed</mat-icon>
                </button>
                <button mat-button *ngIf="element?.follow" (click)="stopFollow(element)">
                    <mat-icon>gps_off</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>